@import 'base/colors';
@import 'base/mixins';
@import 'base/typography';
@import 'components/Header/header';
@import 'components/LoginForm/loginForm';
@import 'components/Products/products.scss';
@import 'components/Home/home.scss';
@import 'components/Products/productsDetail.scss';


*{
    margin: 0;
    font-family: $font-primary;
    
}



*::-webkit-scrollbar {
    height: 11px;
    width: 11px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: $background-primary;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color:$light-txt;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: $background-primary;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $brown-txt;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: $background-dark;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: $brown-txt
  }