$background-primary:#DEBDBD;
$background-dark:#B78989;
$foreground-primary: 	#d56161;
$foreground-dark: 	#a0183d;
$on-pink-background:	#ffe3e3;
$txt:		#e77a7a;
$gray-light: #cacaca;
$gray-dark: #1a1a1a;
$white:#f9f1f1;
$baby-pink:#fcd4d4;
$brown-txt:#6F5E5E;
$light-txt:#E2CFCF;