.header-container {
    @include flexCenterRow;
    gap: 30px;
    padding: 10px;
    z-index: 100;
    background-color: $light-txt;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    position: relative; 
    margin-bottom: -35px; 
    height: 50px;
}


.header-action-btn{
    color:$foreground-primary;
    text-decoration: none;
    padding: 5px;
    font-weight: 800;
}
.header-action-btn:hover{
    color:$white;
    background-color: $foreground-primary;
    transition-duration: 0.3s;
    border-radius: 5px;

}

@media (max-width: 500px) {
    .header-container {
        gap: 5px;
    }
}