.header-container {
    @include flexCenterRow;
    gap: 30px;
    padding: 10px;
    z-index: 100;
    background-color: $light-txt;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    position: relative; /* Potrebno za preklapanje */
    margin-bottom: -35px; /* Pomeranje sadržaja ispod prema gore, prilagodite po potrebi */
    height: 50px;
}


.header-action-btn{
    color:$foreground-primary;
    text-decoration: none;
    padding: 5px;
    font-weight: 800;
}
.header-action-btn:hover{
    color:$white;
    background-color: $foreground-primary;
    transition-duration: 0.3s;
    border-radius: 5px;

}