

.auth-container {
    @include flexCenterColumn;
    width: 100%;
    height: 95vh;
    background: rgb(183,137,137);
    background: radial-gradient(circle, rgba(183,137,137,1), rgba(197,160,160,1) 35%, rgba(226,207,207,1) 100%); 
}


.auth-form {
    @include flexCenterColumn;
    gap: 3vw;
    border-radius: 15px;
    color: $brown-txt;
    padding: 8vh;
    font-size: 5vh;
    background-color:$white;
    opacity: 0.5;   
    box-shadow:$brown-txt 96px 36px 20px, $light-txt -49px -30px 10px;
}

.auth-input {
    all: unset;
    position: relative;
    background-color:white;
    max-width: 100%;
    padding: 1vh;
    border-radius: 10px;

}

.auth-input::placeholder{
    color: $brown-txt;
    font-size:large;    
}




.title{
    color:$foreground-dark;
    font-size: 5vh;
}

#auth-btn{
    padding: 13px 30px;
    font-size: 13;
    border: 0ch;
    }
#auth-btn:hover{
    transition : 890ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    
    color: $white;
    border: solid 1px $light-txt;
    }