

.product-details-container{
    min-height: 100vh;
    background: rgb(183,137,137);
    background: radial-gradient(circle, rgba(183,137,137,1), rgba(197,160,160,1) 35%, rgba(226,207,207,1) 100%);
    background-size: cover; 
.product-details{
    padding-top: 5%;
    @include flexRow;
    height: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

#product-details-title{
    padding-top: 15vh;
    padding-left: 5vh;
}

.ingredients{
    padding: 15px;
    padding-right: 30px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color:$brown-txt;
    border-radius: 15px;
    text-wrap: wrap;
}
   

.comments-container{
    width: 50%;
    padding: 20px;
    @include flexColumn;
    padding-left: 15px;
    gap:30px;
    flex-wrap: wrap;
    

    
}



.comment {
    margin-bottom: 10px;
    background-color: $white;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 50%; 
    min-height: 50px; 
    color: $txt;
    text-wrap: wrap;
  }
  
  .comment p {
    margin: 2; 
    white-space: pre-wrap;
    word-break: break-word; 
  }
  

.info{
    @include flexCenterRow;
    gap:30px;
    flex-wrap: wrap;

}

.image{
    width: 35%;
    height: auto;
    border-radius: 15px;
}

.add-comment {
    margin-top: 20px;
    @include flexColumn;
    flex-wrap: wrap;
  }

.add-comment textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }

  .add-comment button {
    background-color: $brown-txt;
    color: $white;
    width: 300px;
    font-size: 17px;
    padding: 23px 50px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px 20px;
transition : 890ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
margin:15px;
  }

  .add-comment button:hover{
    transition : 890ms;
    padding: 15px 80px;
    transform : translateY(-0px);
    color: $brown-txt;
        background-color: $background-primary;
    border: solid 1px $brown-txt;
  }

  


}