.products {

  background: rgb(183,137,137);
  background: radial-gradient(circle, rgba(183,137,137,1), rgba(197,160,160,1) 35%, rgba(226,207,207,1) 100%); 


    .products-container {
        padding-top: 5%;
        @include flexCenterRow;
        height: 100vh;
        gap: 30px;
        flex-wrap: wrap;
    }
  
    .product-box {
        @include flexCenterColumn;
        border-radius: 15px;
      width: calc(33.33% - 20px); // Postavljanje širine na 1/3 containera s razmakom od 20px
      margin-bottom: 20px;
      background-color: $white; // Boja pozadine proizvoda
      padding: 20px; // Unutarnji razmak proizvoda
  
      .product-image {
        border-radius: 5px;
        max-width: 50%;
        height: auto;
        margin-bottom: 10px;
      }
  
      .product-name {
        font-size: 1.2em;
        margin-bottom: 5px;
        color: $foreground-primary;
      }
  
    }

    .select{
      padding-top: 5vh;
      @include flexCenterColumn;
    }

    select{
      background-color: $foreground-dark;
      color: $background-primary;
      border-radius: 10px;
      width: 30%;
      font-size: 20px;
      border: 0px solid #C4D1EB;
    }

    .title{
      align-self: center;
    }
    
    
  }



